<div class="container-fluid discussionWrapper" ng-controller="DiscussionController">
    <div class="">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-10 qa">
                    <div class="col-md-10">
                        <h4 class="text-left">Question:</h4>
                        <p>Cras justo odio Cras justo odio Cras justo odio???</p>
                        <small>by username at time</small>
                    </div>
                    <div class="col-md-1">
                        <a href="" ng-click="">
                            <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                        </a>
                    </div>
                    <div class="col-md-1">
                        <a href="#" ng-click="">
                            <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                        </a>
                    </div>
                    <div class="col-md-12">
                        <h4 class="text-right"><a ng-click="toShow =!toShow">Click for Answers!</a></h4>
                    </div>
                    <div ng-show="toShow">
                        <div class="answerRow">
                            <div class="col-md-10">
                                <h4 class="text-left">Answers:</h4>
                                <p>Cras justo odio <small>by username at time</small></p>
                                <small>by username at time</small>
                            </div>
                            <div class="col-md-1">
                                <a href="#" ng-click="">
                                    <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                                </a>
                            </div>
                            <div class="col-md-1">
                                <a href="#" ng-click="">
                                    <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                                </a>
                            </div>
                        </div>
                        <div class="answerRow">
                            <div class="col-md-10">
                                <h4 class="text-left">Answers:</h4>
                                <p>Cras justo odio <small>by username at time</small></p>
                                <small>by username at time</small>
                            </div>
                            <div class="col-md-1">
                                <a href="#" ng-click="">
                                    <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                                </a>
                            </div>
                            <div class="col-md-1">
                                <a href="#" ng-click="">
                                    <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-10 qa">
                    <div class="col-md-10">
                        <h4 class="text-left">Question:</h4>
                        <p>Cras justo odio Cras justo odio Cras justo odio???</p>
                    </div>
                    <div class="col-md-1">
                        <a href="" ng-click="">
                            <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                        </a>
                    </div>
                    <div class="col-md-1">
                        <a href="#" ng-click="">
                            <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                        </a>
                    </div>
                    <div class="col-md-12">
                        <h4 class="text-right"><a ng-click="toShows =!toShows">Click for answers!</a></h4>
                    </div>
                    <div ng-show="toShows">
                        <div class="col-md-10">
                            <h4 class="text-left">Answers:</h4>
                            <ul>
                                <li>Cras justo odio</li>
                                <br>
                                <li class="text-left">Cras justo odio</li>
                                <br>
                                <li class="text-left">Cras justo odio</li>
                            </ul>
                        </div>
                        <div class="col-md-1">
                            <a href="#" ng-click="">
                                <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                            </a>
                        </div>
                        <div class="col-md-1">
                            <a href="#" ng-click="">
                                <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-10 qa">
                    <div class="col-md-10">
                        <h4 class="text-left">Question:</h4>
                        <p>Cras justo odio Cras justo odio Cras justo odio???</p>
                    </div>
                    <div class="col-md-1">
                        <a href="" ng-click="">
                            <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                        </a>
                    </div>
                    <div class="col-md-1">
                        <a href="#" ng-click="">
                            <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                        </a>
                    </div>
                    <div class="col-md-12">
                        <h4 class="text-right"><a ng-click="toShows =!toShows">Click for answers!</a></h4>
                    </div>
                    <div ng-show="toShows">
                        <div class="col-md-10">
                            <h4 class="text-left">Answers:</h4>
                            <ul>
                                <li>Cras justo odio</li>
                                <br>
                                <li class="text-left">Cras justo odio</li>
                                <br>
                                <li class="text-left">Cras justo odio</li>
                            </ul>
                        </div>
                        <div class="col-md-1">
                            <a href="#" ng-click="">
                                <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                            </a>
                        </div>
                        <div class="col-md-1">
                            <a href="#" ng-click="">
                                <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


