<!DOCTYPE html>
    <html lang="en" ng-app="app">
        <head>
            <meta charset="UTF-8">
            <title></title>
            <!-- bower:css -->
            <link rel="stylesheet" href="bower_components/toastr/toastr.css" />
            <link rel="stylesheet" href="bower_components/ng-sortable/dist/ng-sortable.css" />
            <link rel="stylesheet" href="bower_components/angular-toastr/dist/angular-toastr.css" />
            <link rel="stylesheet" href="bower_components/jquery.tagsinput/src/jquery.tagsinput.css" />
            <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
            <link rel="stylesheet" href="bower_components/glyphicons-halflings/css/glyphicons-halflings.css" />
            <!-- endbower -->

            <!-- inject:css -->
            <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
            <!-- endinject -->
        </head>

        <body ng-controller="DiscussionController as discussion">
            <div ng-repeat="discussion.question in discussion.questions">
                <h3>{{discussion.question.text}}</h3>
                <div>{{discussion.question.userName}}</div>
                <div>{{discussion.question.createdDate}}</div>
                <div>{{discussion.question.upVote}}</div>
                <div>{{discussion.question.downVote</div>
                <div ng-repeat="answer in discussion.question.moduleAnswers">
                    <h3>{{discussion.question.text}}</h3>
                    <div>{{discussion.question.userName}}</div>
                    <div>{{discussion.question.createdDate}}</div>
                    <div>{{discussion.question.upVote}}</div>
                    <div>{{discussion.question.downVote</div>
                </div>
            </div>
            <!-- bower:js -->
            <script src="bower_components/jquery/dist/jquery.js"></script>
            <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
            <script src="bower_components/angular/angular.js"></script>
            <script src="bower_components/toastr/toastr.js"></script>
            <script src="bower_components/ng-sortable/dist/ng-sortable.js"></script>
            <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
            <script src="bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
            <script src="bower_components/angular-toastr/dist/angular-toastr.tpls.js"></script>
            <script src="bower_components/angular-mocks/angular-mocks.js"></script>
            <script src="bower_components/classie/classie.js"></script>
            <script src="bower_components/jquery-easing/jquery.easing.js"></script>
            <script src="bower_components/jquery-easing/jquery.easing.min.js"></script>
            <script src="bower_components/fittext/fittext.js"></script>
            <script src="bower_components/jquery-ui/ui/jquery-ui.js"></script>
            <script src="bower_components/backbone/backbone.js"></script>
            <script src="bower_components/underscore/underscore.js"></script>
            <script src="bower_components/jquery-rdfquery/js/jquery.rdfquery.core.js"></script>
            <script src="bower_components/jquery-rdfquery/js/jquery.rdfquery.rdfa.js"></script>
            <script src="bower_components/jquery-rdfquery/js/jquery.rdfquery.rules.js"></script>
            <script src="bower_components/vie/dist/vie.js"></script>
            <script src="bower_components/jquery.tagsinput/src/jquery.tagsinput.js"></script>
            <script src="bower_components/annotate/annotate.js"></script>
            <script src="bower_components/jquery-htmlclean/jquery.htmlClean.js"></script>
            <script src="bower_components/rangy-official/rangy-core.js"></script>
            <script src="bower_components/rangy-official/rangy-classapplier.js"></script>
            <script src="bower_components/rangy-official/rangy-highlighter.js"></script>
            <script src="bower_components/rangy-official/rangy-selectionsaverestore.js"></script>
            <script src="bower_components/rangy-official/rangy-serializer.js"></script>
            <script src="bower_components/rangy-official/rangy-textrange.js"></script>
            <script src="bower_components/hallo/dist/hallo.js"></script>
            <script src="bower_components/create/dist/create.js"></script>
            <script src="bower_components/wow/dist/wow.js"></script>
            <!-- endbower -->
            <!-- inject:js -->
            <script src="/bower_components/bootstrap-formhelpers/js/bootstrap-formhelpers-states.js"></script>
            <script src="/bower_components/bootstrap-formhelpers/js/lang/en_US/bootstrap-formhelpers-states.en_US.js"></script>
            <script src="/app/app.js"></script>
            <script src="/app/auth.intercepter.js"></script>
            <script src="/app/discussion.controller.js"></script>
            <script src="/app/login.controller.js"></script>
            <script src="/app/register.controller.js"></script>
            <script src="/app/service/service.generator.js"></script>
            <!-- endinject -->
        </body>
</html>
