            <div ng-repeat="discussion.question in discussion.questions">
                <h3>{{discussion.question.text}}</h3>
                <div>{{discussion.question.userName}}</div>
                <div>{{discussion.question.createdDate}}</div>
                <div>{{discussion.question.upVote}}</div>
                <div>{{discussion.question.downVote</div>
                <div ng-repeat="answer in discussion.question.moduleAnswers">
                    <h3>{{discussion.question.text}}</h3>
                    <div>{{discussion.question.userName}}</div>
                    <div>{{discussion.question.createdDate}}</div>
                    <div>{{discussion.question.upVote}}</div>
                    <div>{{discussion.question.downVote</div>
                </div>
            </div>

