<!DOCTYPE html>
<html lang="en" style="background-color: black">

<!---NOTE TO TEAM CODECRUNCH 
     PUT YOUR CONTENT IN THE <BODY> STARTING 
     AT LINE  270 AND DELETE THIS COMMENT
     -S
    -->

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Bootcamp Tracks</title>

            <!-- Bootstrap Core CSS -->
        <link href="css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="css/sb-admin.css" rel="stylesheet">

        <!-- Morris Charts CSS -->
        <link href="css/plugins/morris.css" rel="stylesheet">

        <!-- Custom Fonts -->
        <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        
        <!-- Plugin CSS -->
        <link rel="stylesheet" href="css/animate.min.css" type="text/css">

       <!-- Custom CSS -->
        <link rel="stylesheet" href="css/creative.css" type="text/css">
        <link href="css/scrolling-nav.css" rel="stylesheet">
        <link href="css/menu.css" rel="stylesheet">



        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>


    <body>

<!-- Begin Content -->

        <div id="page-wrapper"  style="background-color: lightgrey">
            <div class="container-fluid" id="content">
                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                        Tracks
                            <small>Subheading</small>
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i> <a href="index.html">Dashboard</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-file"></i> Blank Page
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->
                <!-- /.row -->
                <div class="panel-group" id="accordion">
                    <div class="col-sm-6 trackContainer">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                                    <span class="glyphicon glyphicon-education glyphicon-align-left" aria-hidden="true"></span>
                                    Rails Development
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse1" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="col-sm-10">
                                        Module 1
                                    </div>
                                    <div class="col-sm-2 text-right">
                                        <button>Preview</button>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="col-sm-10">
                                        Module 2
                                    </div>
                                    <div class="col-sm-2 text-right">
                                        <button>Preview</button>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="col-sm-10">
                                        Module 3
                                    </div>
                                    <div class="col-sm-2 text-right">
                                        <button>Preview</button>
                                    </div>
                                </div>
                                <div class="panel-footer text-right">
                                    <button>AddModule</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 trackContainer">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                                <span class="glyphicon glyphicon-education glyphicon-align-left" aria-hidden="true"></span>
                                Android Development</a>
                                </h4>
                            </div>
                            <div id="collapse2" class="panel-collapse collapse">
                                <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 trackContainer">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                                <span class="glyphicon glyphicon-education glyphicon-align-left" aria-hidden="true"></span>
                                PHP Development</a>
                              </h4>
                            </div>
                            <div id="collapse3" class="panel-collapse collapse">
                                <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 trackContainer">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                                <span class="glyphicon glyphicon-education glyphicon-align-left" aria-hidden="true"></span>
                                Web Design</a>
                                </h4>
                            </div>
                            <div id="collapse4" class="panel-collapse collapse">
                                <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 trackContainer" ng-repeat="track in track.tracks" ng-init="track.getTrack()">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse9">
                                    <span class="glyphicon glyphicon-education glyphicon-align-left" aria-hidden="true"></span>
                                    &nbsp;{{track.trackName}}
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse9" class="panel-collapse collapse" ng-repeat="module in track.modules">
                                <div class="panel-body">
                                    <div class="col-sm-10">
                                        Module 1
                                    </div>
                                    <div class="col-sm-2 text-right">
                                        <button class="btn btn-default btn-sm">Preview</button>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="col-sm-10">
                                        Module 2
                                    </div>
                                    <div class="col-sm-2 text-right">
                                        <button class="btn btn-default btn-sm">Preview</button>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="col-sm-10">
                                        Module 3
                                    </div>
                                    <div class="col-sm-2 text-right">
                                        <button class="btn btn-default btn-sm">Preview</button>
                                    </div>
                                </div>
                                <div class="panel-footer text-right">
                                    <button class="btn btn-primary">AddModule</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
            <button class="btn default btn-primary btn-lg footerbutton align-center btn-block">Add Track</button>
        <!-- /#page-wrapper -->

    </body>
    <!--End Content-->




<!--Login Section-->

<!-- Modal -->
    <section id="intro" class="intro-section" style="background-color: black">

       <div class="modal fade bs-modal-sm" id="myModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" style="background-color: lightgrey">
                        <div class="modal-dialog modal-sm">
                            <div class="modal-content">
                                <br>
                                <div class="bs-example bs-example-tabs">
                                    <ul id="myTab" class="nav nav-tabs">
                                        <li class="active"><a href="#signin" data-toggle="tab">Sign In</a></li>
                                        <li class=""><a href="#signup" data-toggle="tab">Register</a></li>
                                        <li class=""><a href="#why" data-toggle="tab">Why?</a></li>
                                    </ul>
                                </div>
                                <div class="modal-body">
                                    <div id="myTabContent" class="tab-content">
                                        <div class="tab-pane fade in" id="why">
                                            <p>We need this information so that you can receive access to the site and its content. Rest assured your information will not be sold, traded, or given to anyone.</p>
                                            <p><br> If you have any questions about our policies please contact <a mailto:href="Admin@CodeCrunch.com"></a>Admin@CodeCrunch.com
                                            </p>
                                        </div>
                                        <div class="tab-pane fade active in" id="signin">
                                            <form class="form-horizontal">
                                                <fieldset ng-controller="LoginController as login">

<!-- Sign In Form -->
<!-- Text input-->
                                                    <div class="control-group">
                                                        <label class="control-label" for="userid">Email:</label>
                                                        <div class="controls">
                                                            <input ng-model="login.form.username" required id="userid" name="userid" type="text" class="form-control input-medium" placeholder="CLannister@CRock.com">
                                                        </div>
                                                    </div>
<!-- Password input-->
                                                    <div class="control-group">
                                                        <label class="control-label" for="passwordinput">Password:</label>
                                                        <div class="controls">
                                                            <input ng-model="login.form.password" required id="passwordinput" name="passwordinput" class="form-control input-medium" type="password" placeholder="********">
                                                        </div>
                                                    </div>

<!-- Multiple Checkboxes (inline) -->
                                                    <div class="control-group">
                                                        <label class="control-label" for="rememberme"></label>
                                                        <div class="controls">
                                                            <label class="checkbox inline" for="rememberme-0">
                                                                <input type="checkbox" name="rememberme" id="rememberme-0" value="Remember me">
                                                                Remember me
                                                            </label>
                                                        </div>
                                                    </div>

<!-- Button -->
                                                    <div class="control-group">
                                                        <label class="control-label" for="signin"></label>
                                                        <div class="controls">
                                                            <button ng-click="login.loginUser()" id="signin" name="signin" class="btn btn-success">Sign In</button>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </form>
                                        </div>
                                        <div class="tab-pane fade" id="signup">
                                            <form class="form-horizontal">
                                                <fieldset>

<!-- Sign Up Form -->
<!-- Text input-->
                                                    <div class="control-group">
                                                        <label class="control-label" for="Email">Email:</label>
                                                        <div class="controls">
                                                            <input ng-model="register.form.emailAddress" id="Email" name="Email" class="form-control input-large" type="text" placeholder="CLannister@CRock.com" required>
                                                        </div>
                                                    </div>

<!-- Text input-->
                                                    <div class="control-group">
                                                        <label class="control-label" for="userid">Bootcamp Name:</label>
                                                        <div class="controls">
                                                            <input ng-model="register.form.bootcampName" id="name" name="name" class="form-control input-large" type="text" placeholder="Cersi" required>
                                                        </div>
                                                    </div>

                                                    <!-- Location -->
                                                    <div class="control-group">
                                                        <label class="control-label" for="state">Select State:
                                                        </label>
                                                        <div class="controls">
                                                            <select  ng-model="register.form.bootcampState" 
                                                            class="input-medium bfh-states" 
                                                            id="state" 
                                                            name="state"
                                                            data-country="US" 
                                                            data-state="CA" 
                                                            ng-init="register.form.bootcampState = 'CA'" 
                                                            required>
                                                                <option value=""></option>
                                                                <option value="AK">Alaska</option>
                                                                <option value="AL">Alabama</option>
                                                                <option value="AR">Arkansas</option>
                                                                <option value="AZ">Arizona</option>
                                                                <option value="CA">California</option>
                                                                <option value="CO">Colorado</option>
                                                                <option value="CT">Connecticut</option>
                                                                <option value="DC">District of Columbia</option>
                                                                <option value="DE">Delaware</option>
                                                                <option value="FL">Florida</option>
                                                                <option value="GA">Georgia</option>
                                                                <option value="HI">Hawaii</option>
                                                                <option value="IA">Iowa</option>
                                                                <option value="ID">Idaho</option>
                                                                <option value="IL">Illinois</option>
                                                                <option value="IN">Indiana</option>
                                                                <option value="KS">Kansas</option>
                                                                <option value="KY">Kentucky</option>
                                                                <option value="LA">Louisiana</option>
                                                                <option value="MA">Massachusetts</option>
                                                                <option value="MD">Maryland</option>
                                                                <option value="ME">Maine</option>
                                                                <option value="MI">Michigan</option>
                                                                <option value="MN">Minnesota</option>
                                                                <option value="MO">Missouri</option>
                                                                <option value="MS">Mississippi</option>
                                                                <option value="MT">Montana</option>
                                                                <option value="NC">North Carolina</option>
                                                                <option value="ND">North Dakota</option>
                                                                <option value="NE">Nebraska</option>
                                                                <option value="NH">New Hampshire</option>
                                                                <option value="NJ">New Jersey</option>
                                                                <option value="NM">New Mexico</option>
                                                                <option value="NV">Nevada</option>
                                                                <option value="NY">New York</option>
                                                                <option value="OH">Ohio</option>
                                                                <option value="OK">Oklahoma</option>
                                                                <option value="OR">Oregon</option>
                                                                <option value="PA">Pennsylvania</option>
                                                                <option value="PR">Puerto Rico</option>
                                                                <option value="RI">Rhode Island</option>
                                                                <option value="SC">South Carolina</option>
                                                                <option value="SD">South Dakota</option>
                                                                <option value="TN">Tennessee</option>
                                                                <option value="TX">Texas</option>
                                                                <option value="UT">Utah</option>
                                                                <option value="VA">Virginia</option>
                                                                <option value="VT">Vermont</option>
                                                                <option value="WA">Washington</option>
                                                                <option value="WI">Wisconsin</option>
                                                                <option value="WV">West Virginia</option>
                                                                <option value="WY">Wyoming</option>
                                                                <option value="WE">Westeros</option>
                                                        </select>
                                                    </div>

<!-- Password input-->
                                                    <div class="control-group">
                                                        <label class="control-label" for="password">Password:</label>
                                                        <div class="controls">
                                                            <input ng-model="register.form.password" id="password" name="password" class="form-control input-large" type="password" placeholder="********" required>
                                                            <em>1-8 Characters</em>
                                                        </div>
                                                    </div>

<!-- Text input-->
                                                    <div class="control-group">
                                                        <label class="control-label" for="reenterpassword">Re-Enter Password:</label>
                                                        <div class="controls">
                                                            <input ng-model="register.form.confirmPassword"id="reenterpassword" class="form-control input-large" name="reenterpassword" type="password" placeholder="********" required>
                                                        </div>
                                                    </div>

<!-- RegisterCheck student or bootcamp Multiple Radios (inline) -->
                                                    <br>
                                                    <div class="control-group">
                                                        <label class="control-label" for="registercheck">I am a:</label>
                                                        <div class="controls">
                                                            <label class="radio inline" for="registercheck-0">
                                                                <input type="radio" name="registercheck" id="registercheck-0" value="student" checked="checked">Student
                                                            </label>
                                                            <label class="radio inline" for="registercheck-1">
                                                                <input type="radio" name="registercheck" id="registercheck-1" value="bootcamp">Bootcamp
                                                            </label>
                                                        </div>
                                                    </div>

 <!-- Button -->
                                                    <div class="control-group">
                                                        <label class="control-label" for="confirmsignup"></label>
                                                        <div class="controls">
                                                            <button ng-click="register.registerUser()" id="confirmsignup" name="confirmsignup" class="btn btn-success">Sign Up</button>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <center>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </center>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

<!--End Login-->

<!--End carousel-->

<!--End carousel-->


<!-- Slide in menu start-->

    <section>
        <div id="wrapper">
            <div class="navbar-header">
                <nav>
                    <ul class="list-unstyled main-menu">

                    <!--Include your navigation here-->
                        <li class="text-left">
                            <a href="#" id="nav-close">
                            CODE CRUNCH
                            </a>
                        </li>
                    
                        <li>
                            <a href="tracks.html">
                                <i class="fa fa-road">            
                                 Tracks 
                                <span class="icon">
                                </span>
                                </i>
                            </a>
                        </li>
                        <li>
                            <a href="modules.html">
                                <i class="fa fa-wrench">
                                Modules
                                <span class="icon">        
                                </span>
                                </i>
                            </a>
                        </li>

                        <li>
                            <a href="students.html">
                                <i class="fa fa-graduation-cap">
                                Students
                                <span class="icon">
                                </span>
                                </i>
                            </a>
                        </li>
                    </ul>
                </nav>

                <div class="navbar navbar-fixed-top" style="background-color: black">      

        <!--Include your brand here-->
                    <div class="navbar-header pull-left">
                      <a id="nav-expander" class="nav-expander fixed">
                        MENU &nbsp;<i class="fa fa-bars fa-lg white"></i>
                      </a>
                    </div>


          <!-- Top Menu Items Begin-->
                        <ul class="nav navbar-right top-nav">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> <b class="caret"></b></a>
                                <ul class="dropdown-menu message-dropdown">
                                    <li class="message-preview">
                                        <a href="#">
                                            <div class="media">
                                                <span class="pull-left">
                                                    <img class="media-object" src="http://placehold.it/50x50" alt="">
                                                </span>
                                                <div class="media-body">
                                                    <h5 class="media-heading"><strong>John Smith</strong>
                                                    </h5>
                                                    <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                                    <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="message-preview">
                                        <a href="#">
                                            <div class="media">
                                                <span class="pull-left">
                                                    <img class="media-object" src="http://placehold.it/50x50" alt="">
                                                </span>
                                                <div class="media-body">
                                                    <h5 class="media-heading"><strong>John Smith</strong>
                                                    </h5>
                                                    <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                                    <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="message-preview">
                                        <a href="#">
                                            <div class="media">
                                                <span class="pull-left">
                                                    <img class="media-object" src="http://placehold.it/50x50" alt="">
                                                </span>
                                                <div class="media-body">
                                                    <h5 class="media-heading"><strong>John Smith</strong>
                                                    </h5>
                                                    <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                                    <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="message-footer">
                                        <a href="#">Read All New Messages</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> <b class="caret"></b></a>
                                <ul class="dropdown-menu alert-dropdown">
                                    <li>
                                        <a href="#">Congrats! you have <span class="label label-default">42 Points!</span></a>
                                    </li>
                                    <li>
                                        <a href="#">You have earned <span class="label label-primary">Elite Haxxor Badge</span></a>
                                    </li>
                                    <li>
                                        <a href="#">You have earned <span class="label label-success">Enter your name Badge</span></a>
                                    </li>
                                    <li>
                                        <a href="#">You have earned <span class="label label-info">Cake Badge</span></a>
                                    </li>
                                    <li>
                                        <a href="#">You have earned <span class="label label-warning">Ruby on Rails Badge</span></a>
                                    </li>
                                    <li>
                                        <a href="#">You have earned <span class="label label-danger">Solving Sean's Puzzle Badge</span></a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a href="#">View All</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#signup"
                                    data-toggle="modal" 
                                    data-target=".bs-modal-sm">
                                    <i class="fa fa-user">    
                                    </i> Login 
                                </a>
                            </li>
                        </ul>

                <!-- Top Menu Items End-->
                    </div>       
                </div>
            </div>
    </section>

<!-- Slide in menu end-->

</header>



            


       

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Morris Charts JavaScript -->
   <!-- <script src="js/plugins/morris/raphael.min.js"></script>-->
    <script src="js/plugins/morris/morris.min.js"></script>
   <!-- <script src="js/plugins/morris/morris-data.js"></script>-->

    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/jquery.fittext.js"></script>
    <script src="js/wow.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/creative.js"></script>

    <!-- Scrolling Nav JavaScript -->
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/scrolling-nav.js"></script>
    <script src="js/menu.js"></script>

</body>

</html>