<div uiview></div>
<div class="header-content">
        <div class="header-content-inner">
            <h1>CODE CRUNCH</h1>
            <hr>
            <p>Hooking up eager coders with bootcamps since 2016</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Choose a Learning Track to get started</a>
            <br>
            <br>
            <button class="btn btn-default btn-lg" href="#signup" data-toggle="modal" data-target=".bs-modal-sm">Sign In/Register</button>
        </div>
</div>
