<div class="container-fluid">
    <div class="transparent">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-4">
                    <h3>{{bootcampProfile.bootcamp.bootcampName}}</h3>
                    <div>
                        <img class="profile-pic" src="img/origin.jpg" alt="What a Student may look like" style="height:128px;">
                    </div>
                    <br>
                    <p><i class="fa fa-twitter-square" aria-hidden="true"></i> Twitter</p>
                    <p><i class="fa fa-facebook-square" aria-hidden="true"></i> Facebook</p>
                    <p><i class="fa fa-instagram" aria-hidden="true"></i> Instagram</p>
                </div>
                <div class="col-md-8 text-left">
                    <h4>Bootcamp Name:</h4>
                    <a href="#" editable-text="bootcampProfile.bootcamp.bootcampName">{{ bootcampProfile.bootcamp.bootcampName || 'empty' }}</a>
                    <h4>Email:</h4>
                    <a href="#" editable-email="bootcampProfile.bootcamp.userName">{{ bootcampProfile.bootcamp.userName || 'empty' }}</a>
                    <h4>Street Address:</h4>
                    <a href="#" editable-text="bootcampProfile.bootcamp.bootcampAddress">{{ bootcampProfile.bootcamp.bootcampAddress || 'empty' }}</a>
                    <h4>City:</h4>
                    <a href="#" editable-text="bootcampProfile.bootcamp.bootcampCity">{{ bootcampProfile.bootcamp.bootcampCity || 'empty' }}</a>
                    <h4>State:</h4>
                    <a href="#" editable-text="bootcampProfile.bootcamp.bootcampState">{{ bootcampProfile.bootcamp.bootcampState || 'empty' }}</a>
                    <h4>Website:</h4>
                    <a href="#" editable-text="bootcampProfile.bootcamp.bootcampSite">{{ bootcampProfile.bootcamp.bootcampSite || 'empty' }}</a>
                    <h4>LinkedIn:</h4>
                    <a href="#" editable-text="bootcampProfile.bootcamp.bootcampLinkedIn">{{ bootcampProfile.bootcamp.linkedIn || 'empty' }}</a>
                    <div id="submitChanges">
                        <button ng-click="bootcampProfile.updateBootCamp()" type="button" class="btn btn-primary">Submit changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
