<div id="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Module Title
                </h1>
                <ol class="breadcrumb">
                    <li class="active">
                        <i class="fa fa-dashboard"></i>
                        <large>My Tracks</large>
                    </li>
                </ol>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Module [Title]</h3>
                        <ul class="progress-indicator custom-complex">
                            <li class="completed">
                                <a href="#">
                                    <span class="bubble"></span>
                                    <i class="fa fa-check-circle"></i> Step 1 - I'm a link!
                                </a>
                            </li>
                            <li class="completed">
                                <a href="#">
                                    <span class="bubble"></span>
                                    <i class="fa fa-check-circle"></i> Step 2. - I'm a link!
                                </a>
                            </li>
                            <li class="completed">
                                <span class="bubble"></span>
                                <i class="fa fa-check-circle"></i> Step 3.
                            </li>
                            <li class="completed">
                                <span class="bubble"></span>
                                <i class="fa fa-check-circle"></i> Step 4.
                            </li>
                            <li>
                                <span class="bubble"></span> Step 5.
                            </li>
                        </ul>
                    </div>
                    <div class="panel-body">
                        Module content goes here (Text, videos, etal)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
